./.git
**/bin/
**/obj/
**/.vs/
build
**/secrets
*.suo
*.csproj.user
nuget.config
*.nupkg
**/local*.sh
**/*.crt
**/*.key
**/*.pid
**/*.exe
**/publish
*.tgz
*.lock
data
.vscode/launch.json
kubernetes
.kube/*

